<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>
        {%block title %}
         Dental
        {%endblock %}
    </title>
   <link rel="stylesheet" href="src/frontend/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="./../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="./../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="./../assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="./../assets/css/Animated-Pretty-Product-List-v12.css">
    <link rel="stylesheet" href="./../assets/css/Bootstrap-Spinner-Best-Preloader.css">
    <link rel="stylesheet" href="./../assets/css/Center-Image.css">
    <link rel="stylesheet" href="./../assets/css/Data-Table-1.css">
    <link rel="stylesheet" href="./../assets/css/Data-Table.css">
    <link rel="stylesheet" href="./../assets/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="./../assets/css/NZFieldLabel---Required.css">
    <link rel="stylesheet" href="./../assets/css/phpkiller-pruduct-list.css">
    
</head>
    {%block body %} Default body{%endblock %}

    <script src="./../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="./../assets/js/bs-init.js"></script>
    <script src="./../assets/js/jquery.dataTables.min.js"></script>
    <script src="./../assets/js/dataTables.bootstrap.min.js"></script>
    <script src="./../assets/js/Bootstrap-DataTables.js"></script>
    <script src="./../assets/js/Animated-Pretty-Product-List-v12.js"></script>
    <script src="./../assets/js/Bootstrap-Spinner-Best-Preloader.js"></script>
    <script src="./../assets/js/theme.js"></script>
</html>