.paginate_button{
    vertical-align: middle;
    font-size: 20 px;
    margin: .25rem .125rem;
    display: inline-block;
font-weight: 400;
line-height: 1.5;
color: #212529;
text-align: center;
text-decoration: none;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
background-color: transparent;
border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
padding: .375rem .75rem;
font-size: 1rem;
border-radius: .25rem;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;


}
.paginate_button.current,
.paginate_button.active{
    /*border: 1px solid black;
    padding: 5px;*/
    color: #fff !important;
background-color: #0d6efd;
border-color: #0d6efd;

}

.paginate_button.current a,
.paginate_button.active a
{
    color: #fff !important;
    text-decoration: none;
}